/*header Start*/
#mainbody{
    scroll-behavior: smooth;
    margin: 0;
    background-color:hsla(215,22%,38%,1);
background-image:
radial-gradient(at 87% 82%, hsla(214,66%,72%,1) 0px, transparent 50%),
radial-gradient(at 81% 42%, hsla(243,76%,68%,1) 0px, transparent 50%),
radial-gradient(at 16% 46%, hsla(255,76%,70%,1) 0px, transparent 50%),
radial-gradient(at 52% 0%, hsla(306,73%,70%,1) 0px, transparent 50%),
radial-gradient(at 41% 75%, hsla(26,68%,65%,1) 0px, transparent 50%);
    
}
.navcolor{
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.31);
   
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.4);
        margin-top: 1.5%;
}

.logo{
    margin-left: 15px;
    
}



.ctoa{
    width: 80%;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.67);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);

    margin: 30px auto 20px auto;
    padding: 20px;
    border-radius: 15px;
    height: auto;
    display: flex;
    
}
.ctoa h5{
    display: inline-block;
    width: 65%;
    margin: 5px 0px 0px 0px;

}
.ctoa button{
    padding: 5px 20px 5px 20px;
    width: fit-content;
    margin: auto ;
    margin: 0px 0px 0px 100px;
    
    vertical-align:top;
    height: 60px;
    border-style: solid;
    border-radius: 15px;
    background-color: #171A2C;
    color: aliceblue;
    letter-spacing: 5px;

}
.ctoa button:hover{
    background-color: #2D324F;
}

@media (max-width: 550px) {
    .ctoa{
        flex-direction: column;
        justify-items: center;
    }
    .ctoa h5{
      width: 90%;
      text-align: center;
      
    }
    .ctoa button{
        margin:10px ;
        width: max-content;
        
    }
}

/*header end*/

/*Main COntent*/
.items{
    width: 95%;
    height: fit-content;
    background-color: #D9D9D9;
    margin: 0 auto 0 auto;
    border-radius: 15px;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color:#99d6ff;
    background-color:#e999ff;
background-image:
radial-gradient(at 71% 9%, hsla(289,98%,76%,1) 0px, transparent 50%),
radial-gradient(at 51% 63%, hsla(272,73%,60%,1) 0px, transparent 50%),
radial-gradient(at 68% 12%, hsla(258,96%,79%,1) 0px, transparent 50%),
radial-gradient(at 64% 6%, hsla(328,61%,65%,1) 0px, transparent 50%),
radial-gradient(at 46% 7%, hsla(24,87%,66%,1) 0px, transparent 50%); 
    
    animation: meshanimi 2s infinite;
    
}





.items div{
    background-color: #171A2C;
    width: 95%;
    height: auto;
    border-radius: 11px;
    margin: 15px auto 0 auto;
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: center;
    flex-wrap: wrap;
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.8px);
    -webkit-backdrop-filter: blur(7.8px);
    
    

    

}

@media (max-width: 550px) {
    .items div {
      flex-direction: column;
    }
}


.items div div{
    background-color: #D9D9D9;
    width: 240px;
    height: fit-content;
    border-radius: 11px;
    margin: 0 auto 0 auto;
    grid-row: inherit;
    display: flex;
    flex-direction: column;
    
    margin: 10px 10px 10px 10px;

    
    
    
    
    
    .imgbanner{
        background-color: rgb(0, 0, 0); 
        height:50%; 
        width:90%;
        margin:5% auto 0 auto;
        border-radius:10px;
        overflow: hidden;

    }
    
    .imgbanner img{
        padding: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
    
    h5{
        margin: 5px 5% 10px;
        padding: 10px 0px 0px 0px;
    }
    p{
        margin: 5px 5%;
        padding: 2.5px 15px;
        background-color: #0000005d;
        width: fit-content;
        border-radius: 15px;  
        text-decoration: solid;
        font-weight: 600;
    }
    
    button{
        width: 70%;
        background-color: #2D324F;
        color: #D9D9D9;
        font-weight: 600;
        margin-left: 15%;
        margin-top: 15px;
        margin-bottom: 15px;
        border-style: none;
        border-radius: 15px;
        padding: 5px 10px;
    
    }

}

@media (max-width:550px) {
    .items div div{
        width: 95%;
    }
    
}


#catobtns{
    background-color: #171A2C;
    width: fit-content;
    height: auto;
    margin: 0px auto 15px auto;
    padding: 5px 15px;
}

#link1{
    color: aliceblue;
    padding: 0;
    vertical-align: middle;
}

#link2{
    color: aliceblue;
    padding: 0;
}




/*Main COntent*/



/*footer*/
footer{
    padding: 10px;
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.31);
    
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    
    margin: 15px 0px 15px 0px;
    text-align: center;
    
}

.footercont{
    
   width: auto;
    
    
}

.footermain{
    width: 99%;
    display: block;
    padding-left:20px;
}

.footerbox{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.587);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    width: 90%;
    height: 300px;
    margin: 20px;
    border-radius: 15px;
    color: #000000;
    overflow: auto;
    
}

.footerbox h4{
    margin: 10px 15px 10px 15px;
    text-align: start;

}
.footerbox p{
    margin: 20px 15px 10px 25px;
    text-align: start;

}

.cprts{
    width: 60%;
    height: auto;
    background-color: #D9D9D9;
    border-radius: 15px;
    margin: 0px auto 0px auto;
}


