#mainbody{
    margin: 0;
    background-color:#99fff8;
    background-image:
    radial-gradient(at 24% 54%, hsla(35,62%,61%,1) 0px, transparent 50%),
    radial-gradient(at 96% 0%, hsla(263,98%,71%,1) 0px, transparent 50%),
    radial-gradient(at 7% 30%, hsla(339,61%,67%,1) 0px, transparent 50%),
    radial-gradient(at 73% 74%, hsla(174,86%,75%,1) 0px, transparent 50%),
    radial-gradient(at 47% 22%, hsla(87,96%,73%,1) 0px, transparent 50%);
    cursor: url("cursor_copy.png") 13 7, auto !important;
    
}
.navcolor{
    /* From https://css.glass */
    background: rgba(51, 51, 51, 0.591);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin-top: 1.5%;
}

.logo{
    margin-left: 15px;
    
}

@media (max-width:600px) {

    .logo{
        margin-left: 0px;
        
    }
    
}

/*

.ctoa{
    width: 80%;
    background-color: #D9D9D9;
    margin: 30px auto 20px auto;
    padding: 20px;
    border-radius: 15px;
    height: auto;
    display: flex;
    
}
.ctoa h5{
    display: inline-block;
    width: 65%;
    margin: 5px 0px 0px 0px;

}
.ctoa button{
    padding: 5px 20px 5px 20px;
    width: fit-content;
    margin: auto ;
    margin: 0px 0px 0px 100px;
    
    vertical-align:top;
    height: 60px;
    border-style: solid;
    border-radius: 15px;
    background-color: #171A2C;
    color: aliceblue;
    letter-spacing: 5px;

}
.ctoa button:hover{
    background-color: #2D324F;
}

@media (max-width: 550px) {
    .ctoa{
        flex-direction: column;
        justify-items: center;
    }
    .ctoa h5{
      width: 90%;
      text-align: center;
      
    }
    .ctoa button{
        margin:10px ;
        width: max-content;
        
    }
}
*/

.searchtab{
    width: 95%;
    height: fit-content;
    background-color: #2d324f7b;
    margin: 25px auto 25px auto;
    border-radius: 15px;
    overflow: auto;
    
}

.num1k{
    color: #ffffff;
    animation: colorfade 10s infinite;
}

.hend{
    color: #ffffff;
    animation: blink  1s infinite;
}



@keyframes blink {
    0% {filter: opacity(100%);}
    50% {filter: opacity(0%);}
    100% {filter: opacity(100%);}
}

.heading{
    padding: 0%;
    margin: 30px;
    font-family: "Radio Canada Big", sans-serif;
  
}

.searchitems{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
}

.stag{
    margin: 5px;
    background-color: #D9D9D9;
    border-radius: 22px;
    padding: 5px 8px 5px 8px;
}

@media (max-width:600px) {

    .stag{
        width: 120px;
        margin: 5px;
        background-color: #D9D9D9;
        border-radius: 22px;
        padding: 5px 8px 5px 8px;
    }

    .searchitems{
        height: 100px;
        overflow:scroll;
        flex-wrap: nowrap;
        flex-direction: row;
        height:min-content;
        
        scrollbar-width: none;
        margin: 10px 10px;

    }

    .searchitems::-webkit-scrollbar{
        display: none;
    }
    
}

.search{
    width: 65%;
    box-shadow: 3px 3px 3px #171A2C;
    padding: 10px 15px;
    margin: 35px 5px;
    border: none;
    border-radius: 50px;
    color: #000000;
    font-weight: 500;    
}



.srchbtn1{
    content: "Search";
    height: fit-content;
    width: 10%;
    background-color: #2D324F;
    color: #D9D9D9;
    box-shadow: 3px 3px 3px #171A2C;
    padding: 10px 15px;
    margin: 35px 5px;
    border: none;
    border-radius: 50px;
    transition-duration: 0.3s;
}
.srchbtn{
    content: "Search";
    height: fit-content;
    width: 10%;
    background-color: #2D324F;
    color: #D9D9D9;
    box-shadow: 3px 3px 3px #171A2C;
    padding: 10px 15px;
    margin: 35px 5px;
    border: none;
    border-radius: 50px;
    transition-duration: 0.3s;
    display: none;
}

@media (max-width:750px) {

    .srchbtn1{
        display: none;
    }

    .srchbtn{
        display: block;
    }


    
}

.srchbtn:hover{
    background-color: #a891fb;
    color: #000000;
}
.srchbtn1:hover{
    background-color: #a891fb;
    color: #000000;
}

.srchbtn1:active{
    
    transform:scale(98%);
}

.srchbtn:active{
    
    transform:scale(98%);
}

.space{
    
    height:auto;
    border-radius: 15px;
    width: 95%;
    margin: 0px auto 25px auto;
    background-color: #00000037;
    display: flex;
    justify-content: center;
    padding: 20px;
    color: #D9D9D9;
    flex-direction: column;
    align-items: center;
}

#down a{
    font-size: xx-large;
    color: #000000;
    padding: 10px;
    transition-duration: 0.5s;

    


    

}

#down a:hover{
    color: #a891fb;
}


/*header*/
.items{
    width: 95%;
    height: fit-content;
    background-color: #D9D9D9;
    margin: 0 auto 0 auto;
    border-radius: 15px;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color:#99d6ff;
    background-image:
    radial-gradient(at 34% 77%, hsla(71,65%,72%,1) 0px, transparent 50%),
    radial-gradient(at 66% 84%, hsla(223,73%,65%,1) 0px, transparent 50%),
    radial-gradient(at 21% 82%, hsla(287,97%,65%,1) 0px, transparent 50%),
    radial-gradient(at 6% 49%, hsla(219,71%,67%,1) 0px, transparent 50%),
    radial-gradient(at 8% 17%, hsla(44,60%,64%,1) 0px, transparent 50%); 
    
}






.items div{
    background-color: #171A2C;
    width: 95%;
    height: auto;
    border-radius: 11px;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: center;
    flex-wrap: wrap;
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.8px);
    -webkit-backdrop-filter: blur(7.8px);
    border: 1px solid rgba(0, 0, 0, 0.12);
    

    

}

@media (max-width: 550px) {
    .items div {
      flex-direction: column;
    }
}


.items div div{
    background-color: #D9D9D9;
    width: 240px;
    height: fit-content;
    border-radius: 11px;
    margin: 0 auto 0 auto;
    grid-row: inherit;
    display: flex;
    flex-direction: column;
    
    margin: 10px 10px 10px 10px;

    
    
    
    
    
    .imgbanner{
        background-color: rgb(0, 0, 0); 
        height:50%; 
        width:90%;
        margin:5% auto 0 auto;
        border-radius:10px;
        overflow: hidden;

    }
    
    .imgbanner img{
        padding: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
    
    h5{
        margin: 5px 5% 10px;
        padding: 10px 0px 0px 0px;
    }
    p{
        margin: 5px 5%;
        padding: 2.5px 15px;
        background-color: #0000005d;
        width: fit-content;
        border-radius: 15px;  
        text-decoration: solid;
        font-weight: 600;
    }
    
    button{
        width: 70%;
        background-color: #2D324F;
        color: #D9D9D9;
        font-weight: 600;
        margin-left: 15%;
        margin-top: 15px;
        margin-bottom: 15px;
        border-style: none;
        border-radius: 15px;
        padding: 5px 10px;
    
    }

}

@media (max-width:550px) {
    .items div div{
        width: 95%;
    }
    
}




/*header end*/



.aitools{
    width: 90%;
    height: auto;
    border-radius: 15px;
    margin: 30px auto 0px auto;
    background-color: rgba(240, 248, 255, 0.34);
    overflow:hidden;
    display: block;
    justify-content: center;
    
}

.maincont{
    width: 90%;
    margin: 0px auto;
    display: inline-flex;
    justify-content: grid;
    
    
}

.contbox{
    background-color: #2D324F;
    width: 90%;
    height: fit-content;
    margin: 20px 25px;
    padding-bottom: 10px;
    border-radius: 15px;
    color: #D9D9D9;
    overflow: auto;
}




.imgbanner{
    background-color: rgb(0, 0, 0); 
    height:50%; 
    width:90%;
    margin:5% auto 0 auto;
    border-radius:10px;
    overflow: hidden;

   
                    
}

.imgbanner img{
    width: 100%;
    height: 100%;
}

.contbox h5{
    margin: 5px 5% 10px;
    padding: 10px 0px 0px 0px;
}
.contbox p{
    margin: 5px 5%;
    padding: 2.5px 25px;
    background-color: #d9d9d94a;
    width: fit-content;
    border-radius: 15px;  
}

.contbox button{
    width: 70%;
    margin-left: 15%;
    margin-top: 15px;
    margin-bottom: 15px;
    border-style: none;
    border-radius: 15px;
    padding: 5px 10px;

}


/*footer*/
footer{
    padding: 10px;
    /* From https://css.glass */
    background: rgba(51, 51, 51, 0.591);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin: 15px 0px 15px 0px;
    text-align: center;
    
}

.footercont{
    
   width: auto;
    
    
}

.footermain{
    width: 99%;
    display: block;
    padding-left:20px;
}

.footerbox{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.587);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    width: 90%;
    height: 300px;
    margin: 20px;
    border-radius: 15px;
    color: #100728;
    overflow: auto;

    
}

.footerbox h4{
    margin: 10px 15px 10px 15px;
    text-align: start;

}
.footerbox p{
    margin: 20px 15px 10px 25px;
    text-align: start;
    font-weight: 600;
}

.cprts{
    width: 60%;
    height: auto;
    background-color: #D9D9D9;
    border-radius: 15px;
    margin: 0px auto 0px auto;
}


